development:
  adapter: redis
  url: redis://localhost:6379/1
  channel_prefix: chat_b_production

test:
  adapter: async

production:
  adapter: redis
  url: redis://localhost:6379/1
  channel_prefix: chat_b_production
